<div>
  <div class="row">
  	<h4>
  		Hello {{::name}},
  	</h4>
  </div>

  <div class="row">
  	<h4>
  		<a href="#/new">Create</a>
  	</h4>
  </div>

  <div class="row">
    <h4>
      <a href="#/settings">Settings</a>
    </h4>
  </div>

  <div class="row" ng-show="showRecent">
  	<h4>Recent</h4>

  	<ul>
  		<li ng-repeat="event in recent track by $index">
        <a ng-href="#/e/{{event.id}}">{{ ::event.timestamp | date : "MMM d" }} - {{::event.name}}</a>
      </li>
  	</ul>
  </div>
</div>