<div ng-hide="data">
  Event not found
</div>

<div ng-show="data">
  <div class="row">
      <h3>{{::data.name}}</h3>
      <!-- <h5>{{::data.detail}}</h5> -->
  </div>

  <div class="row">
  	<h5>Step 1: Choose dates you are avaliable</h5>
    <span>Please pick dates between <b>1/7/15</b> to <b>2/7/15</b></span>
  </div>

  <div class="row">
    <div ng-controller="calendarController" id="calendar" class="noselect"></div>
  </div>
</div>

<script type="text/template" id="calendar-template">
  <div class='clndr-controls'>
    <div class='month'>
      <%= month %> <%= year %>
    </div>
    <span class='clndr-previous-button'>&lsaquo;</span>
    <span class='clndr-next-button'>&rsaquo;</span>
  </div>
  <table class='clndr-table' border='0' cellspacing='0' cellpadding='0'>
    <thead>
      <tr class='header-days'>
        <% for(var i = 0; i < daysOfTheWeek.length; i++) { %>
        <td class='header-day'><%= daysOfTheWeek[i] %></td>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < numberOfRows; i++){ %>
      <tr>
        <% for(var j = 0; j < 7; j++){ %>
        <% var d = j + i * 7; %>
        <td class='<%= days[d].classes %>'>
          <div class='day-contents'><%= days[d].day %></div>
        </td>
        <% } %>
      </tr>
      <% } %>
    </tbody>
  </table>
</script>